@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
/*=================================================================
MIXINS
===================================================================*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Mono", monospace;
  color: white;
  background-color: #181818;
  margin: 0;
}

@media (min-width: 768px) {
  .container {
    margin-left: 200px;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}
.about-section h1 {
  font-size: 80px;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: -5px;
  word-spacing: -10px;
}
.about-section h4 {
  margin-bottom: 0;
  font-size: 1.25em;
  font-weight: 500;
}
.about-section .top-text, .about-section .middle-text {
  padding-bottom: 50px;
}
.about-section a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.about-section a:hover {
  color: gray;
}

#new-game {
  vertical-align: middle;
}

.game-container h1 {
  display: inline-block;
}
.game-container #game-display {
  width: 500px;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.rotate {
  transition: transform 1s;
  transform: rotate(360deg);
}

#treasure-map {
  position: fixed;
  right: 1%;
  top: 5%;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: none; /* Ensures it doesn't block content */
}

.path {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Clicks pass through the path */
  animation: draw 1s ease-in-out forwards;
}

.node.active {
  transform: scale(1.2) !important;
  border: 5px solid #343434 !important;
  background: #9a9a9a !important;
}

.node {
  position: absolute;
  width: 45px;
  height: 45px;
  background: #4d4d4d;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
  pointer-events: auto; /* Allow interaction on nodes */
}

.node:hover {
  transform: scale(1.2);
  border: 5px solid #343434;
}

.fp-watermark {
  display: none !important;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.snippets-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.snippets-list .snippet-header {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  justify-content: space-between;
  background-color: #202020;
}
.snippets-list .snippet-header:hover {
  background-color: #323232;
}
.snippets-list .snippet-header .snippet-title {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.snippets-list .snippet-header .snippet-title h3 {
  margin: 0;
  font-size: 0.875em;
}
.snippets-list .snippet-header .snippet-dropdown {
  display: flex;
  align-items: center;
  border-left: 3px solid #181818;
  padding-left: 15px;
  padding-right: 15px;
}
.snippets-list .snippet-header .snippet-dropdown a {
  text-decoration: none;
  color: inherit;
}
.snippets-list .snippet-header .snippet-dropdown span {
  display: flex;
  align-items: center;
  font-size: 1.75em;
}

.code-snippet {
  width: 60%;
}

.code-block {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 1;
}

.code-block.hidden {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.icon-keyboard_arrow_down {
  transition: transform 0.3s ease-in-out;
}

.icon-keyboard_arrow_down.rotated {
  transform: rotate(90deg);
}

.scs-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.scs-intro {
  margin: 0 300px;
}
.scs-intro h1 {
  padding-bottom: 50px;
  font-size: 3rem;
}
.scs-intro p {
  font-size: 1.75em;
}

/* Navigation dots styling */
#fp-nav ul {
  right: 40px;
}

/* Default Dot Styling */
#fp-nav ul li a span {
  background: blue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

/* Active Dot Styling */
#fp-nav ul li a.active span {
  background: white;
}

.navbar {
  background-color: #202020;
  margin-top: -20px;
}

.nav-logo li {
  padding-top: 15px;
  font-size: 1.2em;
}
.nav-logo li img {
  width: 30px;
}

.nav-links ul, .nav-logo ul, .socials ul {
  list-style-type: none;
  padding: 0;
}

.nav-links, .socials {
  display: none;
  padding-top: 0;
}

.nav-links li, .nav-logo li {
  display: flex;
  justify-content: center;
  padding-top: 0;
}

.socials span {
  font-size: 1.3em;
}

#linkedin:hover span:hover {
  color: #0077B5;
}

#github span:hover {
  color: black;
}

.socials ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-links li a, .nav-logo li a, .socials li a {
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  line-height: 1.2em;
  font-weight: 600;
  letter-spacing: -1px;
}

.hamburger {
  display: block;
  font-size: 30px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 1px;
  right: 20px;
  z-index: 3;
  position: fixed;
}
.hamburger a {
  text-decoration: none;
  color: white;
  background-color: #202020;
  border-radius: 25%;
  padding: 2px 7px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav-links.active {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: -20px;
  animation: fadeIn 0.7s forwards;
}

.socials.active {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  animation: fadeIn 0.7s forwards;
}

@media (min-width: 768px) {
  .container {
    width: calc(100% - 200px);
    float: right;
  }
  .hamburger {
    display: none;
  }
  .socials {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .socials a {
    font-size: 17px;
  }
  .navbar {
    width: 200px;
    height: 100vh;
    background-color: #202020;
    float: left;
    position: fixed;
    z-index: 2;
    margin-top: 0;
  }
  .nav-links {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .nav-links.active {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: -20px;
  }
  .nav-logo li {
    padding-top: 0;
    font-size: 1em;
  }
  .nav-logo li img {
    width: 150px;
  }
  .nav-logo ul:first-child {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 2em;
  }
  .nav-links, .nav-logo {
    width: 200px;
  }
  .nav-links ul, .nav-logo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .nav-links ul:first-child {
    padding-top: 20px;
  }
  .nav-links li a, .nav-logo li a {
    display: block;
    padding: 8px 20px;
    text-decoration: none;
    color: white;
    line-height: 2em;
    text-align: center;
  }
  .nav-links a {
    width: 100%;
  }
  .nav-links li a:hover {
    background-color: #323232;
    color: white;
  }
  .scs-scheme {
    padding-bottom: 20px;
  }
  .contact-me {
    padding-top: 20px;
  }
  .content {
    margin-left: 200px;
  }
}
.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 55px);
  overflow: hidden;
}

.text-editor {
  background: black;
  width: 90%;
  height: 400px; /* Fixed height for the terminal box */
  padding: 25px 15px 0;
  border-radius: 8px;
  margin-top: 225px; /* Space from the top */
  overflow: hidden; /* Prevent content from overflowing outside the box */
  position: relative;
  margin: 200px auto 0;
}

.text-editor .text-body {
  font-size: 30px;
  color: white;
  word-wrap: break-word;
  overflow-y: auto; /* Add vertical scrolling if content exceeds the box */
  max-height: 100%; /* Restrict the text body height to the parent container */
  line-height: 1.5; /* Adjust line height for readability */
}

.highlight-name, .highlight-skill {
  font-weight: 600;
}

.gray-skills {
  color: gray;
}

.npm {
  color: orange;
}

/* White bar at the top of the terminal */
.white-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px; /* Height of the white bar */
  background-color: #e8e8e8; /* Matches the original border color */
  border-radius: 8px 8px 0 0; /* Rounded corners at the top only */
  z-index: 1; /* Layer it above the black background */
}

/* Window controls positioned inside the white bar */
.window-controls {
  position: absolute;
  top: 4px; /* Center the dots vertically within the white bar */
  left: 15px; /* Space from the right edge */
  display: flex;
  gap: 8px; /* Space between the dots */
}

.terminal-file-name {
  text-align: center;
  color: black;
}
.terminal-file-name .icon-folder {
  color: black;
}
.terminal-file-name .terminal-window-name {
  font-size: 0.9rem;
  vertical-align: top;
}

/* Style for the dots */
.window-controls span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

/* Dot colors */
.close {
  background: #ff5f57; /* Red for close */
}

.minimize {
  background: #ffbd2e; /* Yellow for minimize */
}

.fullscreen {
  background: #28c940; /* Green for fullscreen */
}

/* Hover effects */
.window-controls span:hover {
  transform: scale(1.2); /* Slightly enlarge the dots on hover */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 0 5px currentColor; /* Add a glowing effect */
  cursor: pointer; /* Indicate interactivity */
}

.window-controls span:active {
  transform: scale(1.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

/* Bottom Arrow*/
.bottom-arrow {
  position: absolute; /* Position it absolutely */
  bottom: 15px; /* Align it to the bottom of the container */
  left: 0;
  right: 0;
  margin: 0 auto;
  width: calc(100% - 40px);
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.bottom-arrow a {
  text-decoration: none;
  height: 60px;
  width: 100%;
  text-align: center;
  color: white;
}
.bottom-arrow:hover {
  background: linear-gradient(to bottom, #202020, transparent 50%, #202020);
}
.bottom-arrow:hover span {
  font-size: 55px;
}

@media (min-width: 768px) {
  .hero {
    height: 100vh;
  }
  section {
    align-items: first baseline;
  }
  .text-editor {
    height: 400px; /* Fixed height for the terminal box */
    padding: 15px;
    width: 70%;
    border-radius: 8px;
    margin-top: 250px; /* Space from the top */
    overflow: hidden; /* Prevent content from overflowing outside the box */
    position: relative;
  }
  .text-editor .text-body {
    font-size: 40px;
    color: white;
    overflow-y: auto; /* Add vertical scrolling if content exceeds the box */
    max-height: 100%; /* Restrict the text body height to the parent container */
    line-height: 1.5; /* Adjust line height for readability */
    padding-top: 10px;
  }
}
@media (min-width: 992px) {
  .text-editor {
    width: 55%;
  }
}
.wrapper {
  flex: 1;
  position: relative;
}

.bottom-arrow2 {
  flex-basis: 100%;
  font-size: 50px;
  text-align: center;
  border-radius: 10px;
}
.bottom-arrow2 span {
  margin: 0 auto;
}
.bottom-arrow2:hover {
  background: linear-gradient(to bottom, #202020, transparent 50%, #202020);
}
.bottom-arrow2:hover span {
  font-size: 55px;
}

.project-arrow {
  display: block;
  text-decoration: none;
  height: 60px;
  width: 100%;
  color: white;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px;
}

.card {
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
  max-width: 400px;
  min-width: 300px;
  min-height: 435px;
}
.card:hover {
  transform: translateY(-8px);
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.card .front, .card .back {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  padding: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card .front img, .card .back img {
  max-width: 100%;
  width: 380px;
  height: 290px;
  border-radius: 8px;
  object-fit: cover;
}
.card .front h3, .card .back h3 {
  margin-bottom: 0;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  flex-grow: 0;
}
.card .front h4, .card .back h4 {
  margin-bottom: 0;
  text-align: center;
}
.card .front h4 span, .card .back h4 span {
  font-weight: 400;
}
.card .front a, .card .back a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #323232;
  color: #fff;
  border-radius: 4px;
  margin-top: auto;
  margin-bottom: 5px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}
.card .front a:hover, .card .back a:hover {
  background-color: #4b4b4b;
}

.skills-req {
  list-style-type: none;
  padding: 10px 0 10px;
  margin: 0;
  text-align: center;
}

.flip-tag {
  position: absolute;
  top: 20px;
  right: 10px;
  padding: 4px 6px;
  color: white;
  font-size: 0.8em;
  font-weight: 500;
  background-color: #323232;
}

@media (min-width: 1200px) {
  .back-to-top {
    bottom: 0;
  }
  .card {
    max-width: 550px;
  }
}
.get-in-touch {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.git-info, .git-form {
  padding: 10px;
}

.git-form {
  flex: 2;
}

.form-name-row {
  display: flex;
  width: 100%;
}

.form-email-row {
  display: flex;
  gap: 10px;
}
.form-email-row input[type=email] {
  flex: 2;
}
.form-email-row input[type=text] {
  flex: 1;
}

.form-message-row {
  display: flex;
  gap: 10px;
}
.form-message-row input[type=textarea] {
  flex: 3;
}
.form-message-row button {
  flex: 1;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid white;
  border-radius: 4px;
  background-color: #202020;
  font-family: "DM Mono", monospace;
}

input::placeholder, textarea::placeholder {
  color: #cccccc;
  font-family: "DM Mono", monospace;
}

input[type=text] {
  flex: 1;
  margin-right: 10px;
  color: white;
  font-family: "DM Mono", monospace;
}

input[type=email] {
  font-family: "DM Mono", monospace;
  color: white;
}

input[type=text]:last-of-type {
  margin-right: 0;
}

button[type=submit] {
  font-family: "DM Mono", monospace;
  text-decoration: none;
  padding: 8px 25px;
  margin: 5px 0;
  background-color: #202020;
  color: #fff;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  border: 1px solid white;
}
button[type=submit]:hover {
  background-color: #323232;
}

textarea {
  resize: vertical;
  height: 150px;
  color: white;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
}
.alert button {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.alert-error {
  display: none;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-success {
  display: none;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

input.error {
  border-color: #ff0000;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
}

.contact-text .form-position {
  display: inline;
}
@media (min-width: 991px) {
  .contact-text .form-position {
    display: none;
  }
}
@media (min-width: 991px) {
  .contact-text::after {
    content: " here.";
    font-weight: normal;
  }
}
@media (min-width: 1200px) {
  .contact-text::after {
    content: " below.";
    font-weight: normal;
  }
}

@media (min-width: 992px) {
  .get-in-touch {
    flex-direction: row;
  }
  .git-form {
    flex: 1;
  }
}
@media (min-width: 1200px) {
  .get-in-touch {
    padding-right: 100px;
    padding-left: 100px;
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .get-in-touch {
    padding-right: 300px;
    padding-left: 300px;
  }
  .git-info {
    padding-bottom: 200px;
  }
}

/*# sourceMappingURL=styles.css.map */
