.snippets-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .snippet-header {
        display: flex;
        flex-direction: row;
        font-size: 2em;
        justify-content: space-between;
        .snippet-title {
            h3 {
                margin: 0;
                width: 600px;
            }
        }
        .snippet-dropdown {
            a {
                text-decoration: none;
                color: inherit;
            }
            span {
                display: flex;
                align-items: center;
                font-size: 1.5em;
                
            }
        }
    }
}
// /* Initially hide the code block */
// .code-block.hidden {
//     display: none;
// }

// /* Rotate the arrow when toggled */
// .icon-keyboard_arrow_down.rotated {
//     transform: rotate(90deg);
//     transition: transform 0.3s ease;
// }
/* Base styles for the code block */
.code-block {
    max-height: 1000px; /* Adjust this value based on your largest code block */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 1;
}

.code-block.hidden {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}

/* Optional: Animate the arrow icon */
.icon-keyboard_arrow_down {
    transition: transform 0.3s ease-in-out;
}

.icon-keyboard_arrow_down.rotated {
    transform: rotate(180deg);
}