.snippets-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .snippet-header {
        display: flex;
        flex-direction: row;
        font-size: 2em;
        justify-content: space-between;
        .snippet-title {
            h3 {
                margin: 0;
                width: 600px;
            }
        }
        .snippet-dropdown {
            a {
                text-decoration: none;
                color: inherit;
            }
            span {
                display: flex;
                align-items: center;
                font-size: 1.5em;
                
            }
        }
    }
}
/* Initially hide the code block */
.code-block.hidden {
    display: none;
}

/* Rotate the arrow when toggled */
.icon-keyboard_arrow_down.rotated {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}
