.scs-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    h1 {
        padding-bottom: 50px;
        font-size: 3rem;
        font-size: 80px;
        margin-top: 0;
        text-transform: uppercase;
        letter-spacing: -5px;
        word-spacing: -10px;
    }
    p, span {
        font-size: 1.75em;
    }
} 
// all section margin  
.scs-intro, .scs-treehouse, .scs-netmatters{
    //margin: 0 250px; 
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 250px;
    margin-right: 290px;
}
.scs-treehouse {
    span {
        display: block;
        a {
            text-decoration: none;
            color: inherit;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    img {
        vertical-align: middle;
        width: 1em;
        height: 1em;
        display: inline;
    }
}

.scs-netmatters {
    ul {
        list-style: none;
    }
    li {
        font-size: 1.75em;
    }
}
//fullpage navigaton

#fp-nav ul li a span {
    background: #333; /* Default color */
}

#fp-nav ul li a.active span {
    background: #ccc; /* Active color */
}
#fp-nav ul li, .fp-slidesNav ul li {
    display: block;
    width: 20px;
    height: 19px;
    margin: 20px 7px;
    position: relative;
}
//active nav dot styling
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    height: 12px;
    width: 12px;
    
    margin: -6px 0 0 -6px;
    border-radius: 100%;
}
//regular nav dot styling
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 12px;
    width: 12px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -6px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
//a tag styling that span dots are inside
#fp-nav ul li a, .fp-slidesNav ul li a {
    display: block;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}