.get-in-touch {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 100vh;
    padding: 20px;
    
}
.git-info, .git-form {
    padding: 10px;
}
.git-form {
    flex: 2; 
}
.form-name-row {
    display: flex;
    width: 100%;
}
.form-email-row {
    display: flex; 
    gap: 10px; 
    input[type="email"] {
        flex: 2; 
    }
    
    input[type="text"] {
        flex: 1; 
    }
}
.form-message-row {
    display: flex;
    gap: 10px;

    input[type="textarea"] {
        flex: 3;
    }
    button {
        flex: 1;
        
    }
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0; 
    border: 1px solid white;
    border-radius: 4px; 
    background-color: $color-secondary;
    font-family: 'DM Mono', monospace;
}
input::placeholder, textarea::placeholder {
    color: darken($color: white, $amount: 20);
    font-family: 'DM Mono', monospace;
}
input[type="text"] {
    flex: 1; 
    margin-right: 10px; 
    color: white;
    font-family: 'DM Mono', monospace;
}
input[type="email"] {
    font-family: 'DM Mono', monospace; 
    color: white;
}
input[type="text"]:last-of-type {
    margin-right: 0; 
    
}
button[type="submit"] {
    font-family: 'DM Mono', monospace;
    text-decoration: none;
    padding: 8px 25px;
    margin: 5px 0;
    background-color: $color-secondary; 
    color: #fff;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    border: 1px solid white;

    &:hover {
        background-color: $color-accent;
    }
}
textarea {
    resize: vertical; 
    height: 150px;
    color: white;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    button {
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .2;
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
    }
}
.alert-error {
    display: none;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.alert-success {
    display: none;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}



.contact-text {
    .form-position {
        display: inline;
        @media (min-width: 991px) {
            display: none;
        }
        
    }
    @media (min-width: 991px) {
        &::after {
            content: " here."; 
            font-weight: normal;
        }
    }
    @include mq ('xl') {
        &::after {
            content: " below."; 
            font-weight: normal;
        }
    }
}
  
@include mq ('l') {
    .get-in-touch {
        flex-direction: row; 
    } 
    .git-form {
        flex: 1;
    }
}
@include mq ('xl') {
    .get-in-touch {
        padding-right: 100px;
        padding-left: 100px;
        flex-direction: column;
    }
}
@media (min-width: 1440px) {
    .get-in-touch {
        padding-right: 300px;
        padding-left: 300px;
    } 
    .git-info {
        padding-bottom: 200px;
    }
}