.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 55px); 
    overflow: hidden;
}

/* Hero terminal styles */
.text-editor.terminal-container {
    width: 90%;
    height: 400px;
    margin: 200px auto 0;
    min-height: auto;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.text-body.terminal-content {
    padding: 20px;
    color: #f0f0f0;
    font-size: 30px;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 100%;
    line-height: 1.5;
}

.highlight-name, .highlight-skill {
    font-weight: 600;
}

.gray-skills {
    color: gray;
}

.npm {
    color: orange;
}

/* Bottom Arrow*/ 
.bottom-arrow {
    position: absolute; /* Position it absolutely */
    bottom: 15px; /* Align it to the bottom of the container */
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(100% - 40px);
    font-size: 50px;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 10px;

    a {
        text-decoration: none;
        height: 60px;
        width: 100%;
        text-align: center;
        color: white;
    }
    
    &:hover {
        background: linear-gradient(to bottom, $color-secondary, transparent 50%, $color-secondary);
        span {
            font-size: 55px;
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////
//                                   MEDIA QUERIES
/////////////////////////////////////////////////////////////////////////////////////////
//MEDIUM SIZE
@include mq ('m') {
    .hero {
        height: 100vh;
    }
    
    section {
        align-items: first baseline;
    }
    
    .text-editor.terminal-container {
        width: 70%;
        height: 400px;
        margin-top: 250px;
    }
    
    .text-body.terminal-content {
        font-size: 40px;
        padding-top: 10px;
    }
}

//LARGE SIZE
@include mq ('l') {
    .text-editor.terminal-container {
        width: 55%;
    }
}